// Custom colors
// -------------------------
@import "../../node_modules/grafana_master/public/sass/_variables.generated.scss";

@import "base/config";
@import "components/animations";
@import "pages/device-detail";
@import "pages/device-config";
@import "pages/device-list";
@import "pages/config";
@import "pages/panel-cta";
@import "layout/page";
@import "layout/panel";
@import "kentik-main"
