<img class="kentik-dash--cta-logo" src="public/plugins/kentik-app/img/kentik_logo.png">
<p class="kentik-dashboard-blurb">Kentik Connect Pro for Grafana allows you to quickly and easily add network activity visibility metrics to your Grafana dashboard. By leveraging the power of Kentik’s monitoring SaaS, you can enjoy rich, actionable insights into consumers of network bandwidth and anomalies that can affect application or service performance.</p>

<div class="kentik-dash-flex-container">
    <div class="kentik-dash-flex-item" ng-if="!ctrl.AllDone()">
        <span class="kentik-dashboard-blurb">To do:</span>
        <div ng-if="ctrl.endpointStatus === 'noEndpoints'" class="kentik-CTA-item">
            <div class="kentik-dashboard-icons-container">
                <i class="icon-gf icon-gf-endpoint kentik-dashboard-icons" style="font-size: 20px;"></i>
            </div>
            <a href="plugins/raintank-worldping-app/page/endpoint-config" class="kentik-dashboard-blurb">Add your first endpoint.</a> <i class="tooltip-subtle grafana-tip tag-tip fa fa-question-circle ng-scope" bs-tooltip="'An endpoint is any domain, IP address</br>or URL you would like to monitor.'"></i>
        </div>
    </div>
    <div class="kentik-dash-flex-item">
        <span class="kentik-dashboard-blurb">Complete:</span>
        <div class="kentik-CTA-item">
            <div class="kentik-dashboard-icons-container">
                <i class="icon-gf icon-gf-check wp-icon-success"></i>
            </div>
            <span class="kentik-dashboard-blurb kentik-blurb-success">Install Kentik Connect for Grafana.</span>
        </div>
        <div  ng-if="ctrl.deviceStatus === 'hasDevices'" class="kentik-CTA-item">
            <div class="kentik-dashboard-icons-container">
                <i class="icon-gf icon-gf-check wp-icon-success"></i>
            </div>
            <span class="kentik-dashboard-blurb kentik-blurb-success">Add your first device.</span>
        </div>
    </div>
</div>
