<div class="page-header">
    <h1 class="rt-h1">Kentik Connect Pro: Devices</h1>
</div>

<div ng-if="!ctrl.pageReady" class="kentik-loading-message-container">
    <div class="kentik-loading-message-inside">
        <img class="kentik-loading-pulse" src="public/plugins/kentik-app/img/loading-pulse.svg" style="margin-bottom: 10px;">
        <p class="kentik-loading-msg-1">To infinity...and beyond.</p>
        <p class="kentik-loading-msg-2">This is taking longer than expected.</p>
        <p class="kentik-loading-msg-3">We apologize, something may be up. Please try refreshing first, and contact us if this continues to happen.</p>
    </div>
</div>

<div ng-if="ctrl.pageReady">
    <div ng-if="ctrl.devices.length === 0" style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 350px;">
        <div style="text-align: center; padding-top: 90px; min-height: 220px; min-width: 400px;  margin: 0 auto;">
            <i ng-class="icon" class="icon-gf icon-gf-endpoint no-endpoints"></i>
            <p>Looks like you don’t have any endpoints yet. <a class="highlight-word" href="plugins/kentik-app/pages/add-device">Add a device now.</a></p>
        </div>
        <div class="rt-collapse-container">
            <label class="rt-collapse rt-collapse-secondary" for="_1">What's an Kentik Device? <i class="fa fa-caret-down"></i></label>
            <input id="_1" type="checkbox">
            <div class="rt-collapse-blurb-box">
                <p class="rt-helper-blurb">Devices in Kentik are sources of network flow data - commonly a network component such as a switch or router, or a flow generation agent on a host/server.  Once configured, Kentik will automatically begin tracking and returning direct insights from that source viewpoint into exactly which applications and endpoints are actively driving network traffic.</p>
            </div>
        </div>
    </div>
</div>

<section ng-if="ctrl.devices.length > 0" class="card-section" layout-mode>
<layout-selector></layout-selector>

    <ol class="card-list" >
        <li class="card-item-wrapper card-item-wrapper--clickable" ng-repeat="device in ctrl.devices | orderBy:'device_name'" ng-click="ctrl.gotoDeviceDetail(device)">
            <div class="card-item">
                <div class="card-item-header card-item-header--kentik-icons card-item-header-action">
									<a href="dashboard/db/kentik-top-talkers?var-device={{device.device_name}}">
										<i ng-class="icon" class="icon-gf icon-gf-dashboard" bs-tooltip="'Go to Top Talkers</br>dashboard for {{device.device_name}}'"></i>
									</a>
									<a href="plugins/kentik-app/page/device-details?device={{device.id}}">
										<i ng-class="icon" class="icon-gf icon-gf-settings" bs-tooltip="'Configure {{device.device_name}}'"></i>
									</a>
                </div>
                <div class="card-item-body">
                    <div class="card-item-details">
                        <a href="plugins/kentik-app/page/device-details?device={{device.id}}">
                            <div class="card-item-name">
                                {{device.device_name}}
                            </div>
                            <div class="card-item-sub-name">
                                <span class="card-item-sub-name--header">{{device.device_type}}: </span> {{device.device_description}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</section>
