<div class="rt-page-header-area" style="margin-left:25px; margin-bottom: 35px;">
    <h1 class="rt-h1">Kentik Devices</h1>
    <span style="float: right; margin-top: 10px; margin-right: 20px;"><a class="rt-btn" href="plugins/kentik-app/page/add-device">New Device</a></span>
</div>
<div ng-if="!ctrl.pageReady" class="rt-loading-message-container">
    <div class="rt-loading-message-inside">
        <img class="rt-loading-pulse" src="/public/img/loading-pulse.svg" style="margin-bottom: 10px;">
        <p class="freqMsg nodata rt-loading-msg-1">To infinity...and beyond.</p>
        <p class="freqMsg nodata rt-loading-msg-2">This is taking longer than expected.</p>
        <p class="freqMsg nodata rt-loading-msg-3">We apologize, something may be up. Please try refreshing first, and contact us if this continues to happen.</p>
    </div>
</div>
<div ng-if="ctrl.pageReady">
    <div ng-if="ctrl.devices.length === 0" class="rt-dash-flex-container" style="align-items: center; min-height: 350px;">
        <div style="text-align: center; min-height: 220px; min-width: 400px;  margin: 0 auto;">
            <i ng-class="icon" class="fa fa-server no-devices"></i>
            <p>Looks like you don’t have any devices yet. <a class="rt-body-link" href="plugins/kentik-app/page/add-device">Add an device now.</a></p>

            <p bs-tooltip="'Devices are routers and hosts that Kentik ingests and stores full-resolution network data — NetFlow, SNMP, BGP — and scale seamlessly to any volume of flow.'">What's a device? <i class="grafana-tip fa fa-question-circle ng-scope"></i></p>
        </div>
    </div>
</div>
<div ng-if="ctrl.pageReady">

    <div ng-if="ctrl.devices.length > 0" style="margin: 15px; position: relative; display: block;">
    <div class="rt-list" ng-repeat="device in ctrl.devices | orderBy:sort_field">
        <div class="rt-list-header rt-page-box-header" style="overflow: visible; padding:5px;" ng-click="ctrl.gotoDeviceDetail(device)">
            <span class="rt-list-item-title"><a ng-click="ctrl.gotoDeviceDetail(device)">{{device.device_name}}</a></span>
                <div style="float: right;">
                <div style="display: inline;">
                   {{device.device_type}}
                </div>
                <div style="display: inline; margin-left:25px;">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
</div>