<h3 class="page-heading">Enter your Kentik Credentials</h3>
<div class="gf-form-group">
  <div class="gf-form" ng-if="ctrl.apiError && ctrl.appModel.enabled">
    <i class="fa fa-exclamation-circle" style="color: #ca4333;">
      <span>Invalid API credentials. This app wont work until the credentials are updated.</span>
    </i>
  </div>
  <div class="gf-form">
    <label class="gf-form-label width-10">Email</label>
    <!-- Hidden input to stop chrome from autofilling -->
    <input style="display:none;" type="text" name="somefakename" />
    <input type="text" class="gf-form-input width-30 max-width-30" ng-model='ctrl.appModel.jsonData.email' placeholder="email" />
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-10">Region
      <tip>US and EU regions are available. Default is US. A custom url can also be specified.</tip>
    </label>
    <div class="gf-form-select-wrapper">
      <select class="gf-form-input" ng-model="ctrl.appModel.jsonData.region" ng-options="f.value as f.text for f in ctrl.regionTypes"></select>
    </div>
  </div>

    <!-- custom endpoint should display the url -->
  <div ng-if="ctrl.appModel.jsonData.region === 'custom'" class="gf-form">
    <label class="gf-form-label width-10">Custom URL
      <tip>Specify custom url</tip>
    </label>
    <div ng-if="ctrl.appModel.jsonData.region === 'custom'">
      <input type="text" class="gf-form-input width-30 max-width-30" ng-model='ctrl.appModel.jsonData.dynamicUrl' placeholder="https://grafana-api.kentik.com/api/v5" />
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form kentik-inline-field-margin--right">
      <label class="gf-form-label width-10">Api Token</label>
      <!-- Hidden input to stop chrome from autofilling -->
      <input style="display:none;" type="password" name="anotherfakename" />
      <input type="password" class="gf-form-input width-30 max-width-30" ng-model="ctrl.appModel.secureJsonData.token" ng-if="!ctrl.appModel.jsonData.tokenSet"
        placeholder="api token" />
      <div ng-if="ctrl.appModel.jsonData.tokenSet" class="gf-form">
        <input type="text" class="gf-form-input max-width-20" disabled="disabled" value="saved" />
        <div ng-if="ctrl.appModel.enabled">
          <i class="fa fa-exclamation-triangle" ng-if="!ctrl.apiValidated" alt="Could not validate api Token."></i>
        </div>
      </div>
    </div>
    <div class="gf-form">
      <a class="btn btn-danger btn-small" href="#" ng-click="ctrl.reset()" ng-if="ctrl.appModel.jsonData.tokenSet">reset</a>
    </div>
  </div>
</div>

<div ng-if="ctrl.appModel.jsonData.tokenSet" class="kentik-enabled-box">
  <i class="icon-gf icon-gf-check icon-gf-check kentik-icon-success"></i> Successfully enabled. <strong>Next up:
  </strong><a href="dashboard/db/kentik-home" class="external-link">Go to Kentik Home Dashboard</a>
</div>
