
<div style="display: inline-block; padding: 10px 10px 50px 10px">
	<div class="tight-form-container">
		<div class="tight-form">
			<ul class="tight-form-list">
				<li class="tight-form-item" style="width: 80px">
					Email
				</li>
				<li>
					<input type="text" class="tight-form-input input-xlarge last" ng-model='ctrl.appModel.jsonData.email' placeholder="email"></input>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="tight-form">
			<ul class="tight-form-list">
				<li class="tight-form-item" style="width: 80px">
					Api Token
				</li>
				<li>
					<input type="password" class="tight-form-input input-xlarge last" ng-model='ctrl.appModel.secureJsonData.token' placeholder="api token"></input>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

