<div class="page-header">
  <h1>Add a New Device</h1>
</div>
<div class="row">
  <div class="col-md-10">
    <p>Devices in Kentik are sources of network flow data - commonly a network component such as a switch or router, or a flow generation agent on a host/server.  Once configured, Kentik will automatically begin tracking and returning direct insights from that source viewpoint into exactly which applications and endpoints are actively driving network traffic.</p>
  </div>
</div>

<form name="addDeviceForm">
  <div class="gf-form-group">
    <div class="gf-form">
      <label class="gf-form-label width-11">Device Name</label>
      <input class="gf-form-input max-width-21" type="text" ng-model="ctrl.device.device_name" required>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-11">Device Type</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input gf-size-auto" ng-model="ctrl.device.type">
          <option ng-option value="router">Router</option>
          <option ng-option value="host">Host</option>
        </select>
      </div>
    </div>
  </div>

  <div class="gf-form-group">
    <div class="gf-form">
      <label class="gf-form-label width-11">Description</label>
      <input class="gf-form-input max-width-21" type="text" ng-model="ctrl.device.device_description">
    </div>
    <div class="gf-form" ng-if="ctrl.device.type == 'router'">
      <label class="gf-form-label width-11">Flow Type</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input gf-size-auto" ng-model="ctrl.device.flow_type">
          <option>sFlow</option>
          <option>NetFlow v5</option>
          <option>NetFlow v9</option>
          <option>IPFIX</option>
        </select>
      </div>
    </div>
    <div class="gf-form" ng-if="ctrl.device.type == 'host'">
      <label class="gf-form-label width-11">Flow Type</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input gf-size-auto" ng-model="ctrl.device.flow_type">
          <option>HiresFlow</option>
        </select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-11">Sample Rate</label>
      <input class="gf-form-input max-width-5" type="number" required ng-model="ctrl.device.flow_rate">
    </div>
    <div class="gf-form" ng-repeat="ip in ctrl.other_ips">
      <label class="gf-form-label width-11">Source Address</label>
      <input class="gf-form-input max-width-15" type="text" ng-model="ip.ip">
      <a class="btn btn-inverse btn-small" ng-click="ctrl.addIP()" ng-if="$first"><i class="fa fa-plus"></i></a>
      <a class="btn btn-inverse btn-small" ng-click="ctrl.removeIP($index)" ng-if="!$first"><i class="fa fa-minus"></i></a>
    </div>
  </div>
  <div class="gf-form-group">
    <div class="gf-form" ng-if="ctrl.device.type == 'router'">
      <label class="gf-form-label width-11">SNMP Polling</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input gf-size-auto" ng-model="ctrl.device.snmp_polling">
          <option>Standard</option>
          <option>Minimum</option>
        </select>
      </div>
    </div>
    <div class="gf-form" ng-if="ctrl.device.type == 'router'">
      <label class="gf-form-label width-11">SNMP Community</label>
      <input class="gf-form-input max-width-15" type="text" ng-model="ctrl.device.snmp_community">
    </div>
    <div class="gf-form" ng-if="ctrl.device.type == 'router'">
      <label class="gf-form-label width-11">Device IP</label>
      <input class="gf-form-input max-width-15" type="text" ng-model="ctrl.device.device_ip">
      <a class="btn btn-inverse btn-small"><i class="fa fa-plus"></i></a>
    </div>
  </div>
  <div class="gf-form-group">
    <div class="gf-form">
      <label class="gf-form-label width-11">BGP</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input max-width-15" disabled>
          <option>Available with paid acounts</option>
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" ng-click="ctrl.addDevice()">Add Device</button>
  <a class="btn btn-link" ng-click="ctrl.cancel();">Cancel</a>
</form>